<%
=begin%>
 <%= render "common/header", show_form: false %>
<h3 style="margin-top:15px;">Please select Kara or Lena to dress up!</h3>
<div class="characters">
    <%= form_with(url: characters_path, class: "character_form") do |form| %>
        <%= form.check_box :kara, { class: "checkbox-class" } %>
        <%= form.label :kara, image_tag("kara_home.png") %>
        <%= form.check_box :lena, { class: "checkbox-class" } %>
        <%= form.label :lena, image_tag("lena_home.png") %>
    <% end %>
</div> 
<%
=end%>
<%= react_component("Home") %>